Host gitlab
    HostName gitlab.com
    IdentityFile ~/.ssh/${keypair_name}
    IdentitiesOnly yes
    StrictHostKeyChecking no

Host github
    HostName github.com
    IdentityFile ~/.ssh/${keypair_name}
    IdentitiesOnly yes
    StrictHostKeyChecking no
